*{
    margin: 0;
    padding: 0;
    background-color: rgb(17, 17, 17);
    color: white;
}
html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
header{
    display: flex;
    flex-direction: column;
}
li{
    list-style: none;
}
.logo{
    align-self: center;
    width: 10rem;
}
nav{
    position: sticky;
    top: 0;
}
nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contenedor-peliculas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pelicula > *{
    color: rgba(255, 255, 255, 1);
}
.pelicula > *:hover{
    color: rgba(255, 255, 255, 1);
}
.contenedor-actores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contenedor-festivales-series{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contenedor-festivales{
    display: flex;
    flex-direction: column;
}
.contenedor-series{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contenedor-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.redes-sociales{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.logotipo{
    width: 24px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logotipo{
    background-color: white;
}